# Ignore Python virtual environments
venv/
*.venv/
idea/
*.idea/
# Ignore environment files
config/.env
.env

# Ignore SQLite database files
*.sqlite
*.sqlite3

# Ignore Python cache directories
**/__pycache__/
__pycache__/

pytest.ini
